<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" tools:node="remove" />
    <queries><package android:name="org.fossify.contacts.debug" /><package android:name="org.fossify.contacts" /></queries>
    <uses-feature android:name="android.hardware.telephony" />
    <application android:name=".App" android:allowBackup="true" android:appCategory="productivity" android:icon="@mipmap/ic_launcher" android:label="@string/app_launcher_name" android:roundIcon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity" android:exported="false" android:theme="@style/SplashTheme" />
        <activity android:name=".activities.MainActivity" android:configChanges="orientation" android:exported="true" />
        <activity android:name=".activities.AdvancedSearchActivity" android:configChanges="orientation" android:exported="false" android:label="Advanced search" android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.RecycleBinConversationsActivity" android:configChanges="orientation" android:exported="true" android:label="@string/recycle_bin" android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.ArchivedConversationsActivity" android:configChanges="orientation" android:exported="true" android:label="@string/archived_conversations" android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.ThreadActivity" android:configChanges="orientation" android:exported="false" android:launchMode="singleTop" android:parentActivityName=".activities.MainActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.NewConversationActivity" android:configChanges="orientation" android:exported="true" android:parentActivityName=".activities.MainActivity">
            <intent-filter><action android:name="android.intent.action.SENDTO" /><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="sms" /><data android:scheme="smsto" /><data android:scheme="mms" /><data android:scheme="mmsto" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="*/*" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND_MULTIPLE" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="*/*" /></intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity" android:configChanges="orientation" android:exported="true" android:label="@string/settings" android:parentActivityName=".activities.MainActivity"><intent-filter><action android:name="android.intent.action.APPLICATION_PREFERENCES" /><category android:name="android.intent.category.DEFAULT" /></intent-filter></activity>
        <activity android:name=".activities.HerotuxAboutActivity" android:configChanges="orientation" android:exported="false" android:label="@string/about" android:parentActivityName=".activities.MainActivity" />
        <receiver android:name=".receivers.SmsReceiver" android:exported="true" android:permission="android.permission.BROADCAST_SMS"><intent-filter><action android:name="android.provider.Telephony.SMS_DELIVER" /></intent-filter></receiver>
    </application>
</manifest>
